*.class
#package file
*.war
*.ear
#kdff3
*.orig
#maven
target/
#eclipse
.settings/
.project
.classpatch
.classpath
#idea
.idea/
/idea/
*.ipr
*.iml
*.iws
# temp
*.log
*.cache
*.diff
*.patch
*.tmp
#system
.DS_Store
Thumbs.db